body {
    background-color: #264653;
    }
    h1 {
    color: #e9c46a;
    text-align: center;
    }
    p {color: #e76f51;}
    p {font-size: 1cm;}
    .kenalan{background-color: #2a9d8f;}
    .fav {background-color: #264653;}
    a {background-color:#e76f51;}
